@model IEnumerable<Logic.Interface.AdventInterface>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>A challenge every day till christmas!</h2>
    </div>
    <div class="col-md-12">
        @foreach (var day in @Model)
        {
            <div class="row">
                <div class="col-md-8">@day.GetListName()</div>
                <div class="col-md-2">
                    @Html.ActionLink("Execute part 1", "Details", new { id = day.GetID(), part = 0 })
                    @* @Html.Action("RenderDayPart", "Home")*@
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Execute part 2", "Details", new { id = day.GetID(), part = 1 })
                    @* @Html.Action("RenderDayPart", "Home")*@
                </div>
            </div>

        }
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                @Html.ActionLink("Execute everything!", "AllDetails")
            </div>
        </div>
    </div>
    <div class="col-md-12">
        &nbsp
    </div>
    <div class="col-md-12">
        <span class="line-breaks">@ViewBag.puzzleString</span>

    </div>
</div>
<style>
    .line-breaks {
        white-space: pre-line;
    }
</style>
